body {
    background-color: #eeeeee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background-color: #fff;
}

.box {
    height: 100px;
    min-width: 320px;
}

.one {
    background: red;
    flex-shrink: 1;
}

.two {
    background-color: blue;
    flex-shrink: 2;
}

.three {
    background: green;
    flex-shrink: 3
}