h1 {
    color: yellow;
    background-color: lightgrey;
    font-size: 20px;
    width: 500px;
    font-family: arial;
    text-align: center;
    border: 3px solid black;
    margin-left: 400px;
}

div {
    width: auto;
    margin-left: 200px;
    background-color: blue;
    background-color: white;
}

label {
    border: 2px solid green;
    border-spacing: 100px;
    margin-left: 300px;
    font-size: 15px;
    padding: 20px;
}

.inner1 {
    border: 1px solid black;
    margin-left: 200px;
    width: 100px;
    background-color: rgb(243, 240, 240);
}