h1 {
    color: yellowgreen;
    background-color: white;
    font-size: 20px;
    text-decoration: underline;
    font-family: arial;
    text-align: center;
}

body {
    background-color: lightgrey;
}

input {
    border: 20px solid chocolate;
    margin: 30px;
    padding: 20px;
}