body {
    background-color: #eeeeee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background-color: #fff;
}

.box {
    height: 100px;
    min-width: 100px;
}

.one {
    background: red;
}

.two {
    background: blue;
}

.three {
    background: green;
}