body {
    background-color: rgb(243, 237, 237);
}

.div-Main {
    background-color: brown;
}

.div-head {
    border: 8px solid black;
    /* border-radius: 36px; */
    background-color: rgb(206, 206, 206);
    text-align: center;
    /* padding: 10px; */
    position: fixed;
    margin-left: 15px;
    margin-right: 15px;
    width: 96%;
    z-index: 1;
    top: 1;
    left: 0;
}

.div-link {
    width: 100px;
    height: 10px;
    /* border: 2px solid #c97759; */
    text-align: center;
    padding: 20px 20px;
    display: inline-block;
    /* background-color: #cccccc; */
    color: #ebebf1;
}

.div-Directory {
    /* border: 2px solid black; */
    border: 5px solid white;
    border-radius: 36px;
    text-align: center;
    width: 90%;
    background-color: rgb(206, 206, 206);
}

.div-parent {
    background-color: rgb(206, 206, 206);
    border: 5px solid white;
    border-radius: 36px;
    padding: 10px 5px;
    position: sticky;
    top: 70px;
    z-index: 1;
}

.labels {
    text-align: center;
    font-size: 19px;
    display: inline-block;
    text-emphasis: none;
    width: 190px;
    height: 30px;
    color: rgb(92, 40, 40);
}

form {
    margin-left: 30px;
}

.text-class {
    width: 300px;
    border: 1px solid black;
    height: 30px;
    border-radius: 20px;
}

center {
    border: 2px solid rebeccapurple;
    border-radius: 9px;
}

.lbl-name {
    font-size: 100px;
}

.Aboutus {
    /* border: solid rgb(117, 109, 109); */
    /* background-color: rgb(187, 180, 180); */
    margin-left: 130px;
    margin-right: 100px;
    text-align: center;
    margin-right: 200px;
    font-size: 20px;
}

.submit_button {
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 35px;
    font-size: 30px;
}

.reachme {
    text-align: center;
    display: inline-block;
    border: 5px solid black;
    width: 80%;
    background-color: rgb(206, 206, 206);
    margin-left: 60px;
    margin-right: 80px;
}

.Aboutus h3 {
    color: rgb(129, 70, 70);
}

.radio-style {
    width: 500px;
    height: 40px;
}

section img {
    width: 100%;
    height: 400px;
}


/* responsive styles */

@media screen and (max-width: 1400px) {
    .banner .welcome h2 {
        font-size: 60px;
    }
    .div-link {
        font-size: 18px;
    }
}

@media screen and (max-width: 960px) {
    .div-parent {
        font-size: 40px;
        padding: 10px;
    }
}