body {
    background-color: #eeeeee;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    flex-flow: column;
    /*Justify content will work from the main axis*/
    height: 600px;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    flex: 0 0 200px;
}

.one {
    background: red;
}

.two {
    background: blue;
}

.three {
    background: green;
}